//
//  Adguard-Config.xcconfig
//  Adguard
//
//  Created by Roman Sokolov on 27.05.16.
//  Copyright © 2016 Performiks. All rights reserved.
//

// Global product settings
AG_PRODUCT = AdGuard
AG_VERSION = 2.0.2
AG_BUILD = 90

// URL scheme for receiving commands in Adguard main app from Safari
ADGUARD_URL_SCHEME = adguard

#include "project.xcconfig"
#include  "macro-definitions.xcconfig"
