//
//  project.xcconfig
//  AdguardExtension
//
//  Created by Roman Sokolov on 24.08.15.
//  Copyright © 2015 Performiks. All rights reserved.
//

#include "../Config.xcconfig"

SLASH = /

// Builder target resources directory
BUILDER_DIR = $(SYMROOT)/Build/Products/$(CONFIGURATION)
BUILDER_RESOURCES_DIR = $(BUILDER_DIR)/BuilderResources

// Action Extension VARs
ACTION_JAVASCRIPT_ASSISTANT = $(SRCROOT)/ActionExtension/js/adguard-assistant.js
ACTION_JAVASCRIPT_PROCESSING_TEMPLATE = $(SRCROOT)/ActionExtension/js/ProcessingTemplate.js
ACTION_EXTENSION_PREPROCESSING_FILENAME = ExtensionPreprocessing
ACTION_SELECTOR_CSS_FILE = $(SRCROOT)/ActionExtension/js/selector.css

ACTION_RESOURCES_DIR = $(BUILDER_DIR)/ActionResources
ACTION_JAVASCRIPT_RULE_CONSTRUCTOR = https:${SLASH}/raw.githubusercontent.com/AdguardTeam/AdguardBrowserExtension/master/Extension/lib/content-script/assistant/js/adguard-rules-constructor.js
ACTION_JAVASCRIPT_SELECTOR = file:${SLASH}${SLASH}/Users/still/Documents/dev/AG/AdguardBrowserExtension/Extension/lib/content-script/assistant/js/adguard-selector.js
//ACTION_JAVASCRIPT_SELECTOR = https:${SLASH}/raw.githubusercontent.com/AdguardTeam/AdguardBrowserExtension/feature/issues/185/Extension/lib/content-script/assistant/js/adguard-selector.js
ACTION_JAVASCRIPT_LIB01 = https:${SLASH}/raw.githubusercontent.com/AdguardTeam/AdguardBrowserExtension/master/Extension/lib/libs/balalaika.patched.js
ACTION_JAVASCRIPT_LIB02 = https:${SLASH}/raw.githubusercontent.com/AdguardTeam/AdguardBrowserExtension/master/Extension/lib/libs/diff_match_patch.js
ACTION_JAVASCRIPT_LIB03 = https:${SLASH}/raw.githubusercontent.com/AdguardTeam/AdguardBrowserExtension/master/Extension/lib/libs/dom.patched.js

// URL scheme for receiving commands in Adguard main app from Safari
ADGUARD_URL_SCHEME = adguard
