.actions {
    > * {
        border-bottom: 1px solid var(--gray100);

        &:last-child {
            border-bottom: 0;
        }
    }

    &__control {
        padding: 0;
        margin-left: auto;
    }
}
