.actions {
    &__label {
        display: block;
    }

    > * {
        border-bottom: 1px solid var(--gray100);

        &:last-child {
            border-bottom: 0;
        }
    }

    &__control {
        margin-left: auto;
    }
}
