//
//  builder.xcconfig
//  Builder
//
//  Created by Roman Sokolov on 24.08.15.
//  Copyright © 2015 Performiks. All rights reserved.
//

#include "../../Config.xcconfig"

// Builder target resources directory
BUILDER_DIR = $(SYMROOT)/$(CONFIGURATION)
BUILDER_RESOURCES_DIR = $(BUILDER_DIR)/BuilderResources