.protection-off {
    padding-top: 15px;

    &__item {
        display: flex;
        text-align: left;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 19px;

        :last-child {
            margin-bottom: 0;
        }
    }

    &__info {
        padding-left: 10px;
        font-size: 16px;
        line-height: 21px;
    }
}
