//
//   This file is part of Adguard for iOS (https://github.com/AdguardTeam/AdguardForiOS).
//   Copyright © Adguard Software Limited. All rights reserved.
//
//   Adguard for iOS is free software: you can redistribute it and/or modify
//   it under the terms of the GNU General Public License as published by
//   the Free Software Foundation, either version 3 of the License, or
//   (at your option) any later version.
//
//   Adguard for iOS is distributed in the hope that it will be useful,
//   but WITHOUT ANY WARRANTY; without even the implied warranty of
//   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//   GNU General Public License for more details.
//
//   You should have received a copy of the GNU General Public License
//   along with Adguard for iOS.  If not, see <http://www.gnu.org/licenses/>.
//


// Global product settings
AG_PRODUCT = AdGuard Pro
AG_VERSION = 2.0.2
AG_BUILD = 146

AG_GIT_TAG_SUFIX = pro

// URL scheme for receiving commands in Adguard main app from Safari
ADGUARD_URL_SCHEME = adguard-pro

#include "project.xcconfig"
#include "../macro-definitions.xcconfig"

PREPROCESSOR_MACRO = $(PREPROCESSOR_MACRO) ADGUARD_TUNNEL_BUNDLE_ID=\"$(ADGUARD_TUNNEL_BUNDLE_ID)\" PRO=1
