.icons {
    display: none;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    &--gray400 {
        color: var(--gray400);
    }

    &--green {
        color: var(--green);
    }

    &--red {
        color: var(--red);
    }

    &--yellow {
        color: var(--yellow);
    }
}
